body{
    background-image: url({{ url_for('static', filename='static/images/background.jpg') }})no-repeat ;
    background-size: cover;
    background-position: center;
    font-family: Lato;
 }
.form-container{
border : 1px solid #fff; padding: 50px 60px; margin-top: 20vh;
-webkit-box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.75);
}
label{
	color : black;
	font-size: 25px;
}